/* Paul Stothard, University of Alberta */

body {
  background-color: #ffffff;
  font-family: arial, sans-serif;
  color: #000000;
}
span.note {
  font-size: medium;
  font-style: italic;
  font-weight: bold;
}
span.comment {
  font-size: small;
  font-style: italic;
}
span.validInfo {
  font-size: x-small;
}
span.fileSize {
  font-size: x-small;
}
span.warning {
  font-size: x-small;
  color: red;
}
div.heading {
  color: #ffffff;
  background-color: #6666ff;
  font-size: large;
  padding: 0.1cm;
}
div.title {
  font-size: x-large;
  text-align: center;
}
table.noBorder {
  border-style: none;
}
table.border {
  border-style: solid;
}
td.center {
  text-align: center;
  font-size: small;
}
td.left {
  text-align: left;
  font-size: small;
}
td.right {
  text-align: right;
  font-size: small;
}
a:link {
  color: #000099;
  text-decoration: none;
}
a:visited {
  color: #000099;
  text-decoration: none;
}
a:active {
  color: #ff0000;
  text-decoration: underline;
}
a:hover {
  color: #ff0000;
  text-decoration: underline;
}
